@font-face {
    font-family: 'O0hwafa';
    src: url('font/O0hwafa.ttf') format('truetype'); /* Ganti .ttf ke .otf jika formatnya berbeda */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffeef2; 
    
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    font-family: 'O0hwafa', sans-serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    
    
    background-color: #ffeef2;
    position: relative; 
}

.border-frame {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #e3b5be;

    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.letter-icon:hover {
    transform: scale(1.1) rotate(5deg);
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main-logo {
    width: 350px; 
    max-width: 80%;
}

.start-btn {
    background-color: #fcebd5; 
    color: #8c7355; 
    border: 2px solid #f0b2c1;
    border-radius: 20px;
    padding: 10px 60px; 
    font-family: 'O0hwafa', sans-serif;
    font-size: 2.2rem; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-btn:hover {
    background-color: #f7dcb5;
    transform: translateY(-3px);
}

/* ==================================
   STYLE UNTUK POP-UP ANIMASI 
   ================================== */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Efek redup di belakang pop-up */
    display: flex;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 100;
}

.popup-overlay.show {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    position: relative;
    transform: scale(0.5); /* Mulai dari ukuran kecil */
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Efek memantul (bouncy) */
}

.popup-overlay.show .popup-content {
    transform: scale(1); /* Membesar ke ukuran normal */
}

.popup-image {
    width: 400px;
    display: block;
}

.close-btn {
    position: absolute;
    top: 15px; 
    right: 15px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10; 
}